.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  

  .card:hover  {
    transform: scale(1.05);
    transition: 0.5s

  }

  .half {
    float: left;
    width: 100%;
    margin: 10px;
    padding-left: 8rem;
}

.three-quarters {
    float: left;
    width: 100%;
    margin: 10px;
    
}

.section-header {
    border: 1px solid black;
    outline: #CCCCCC solid 3px;
    text-align: justify;  
    padding: 10px;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    margin-right: 0
}

.project-pic {
    border: solid 1px #ccc;
    padding: 5px;
    background-color: #fff;
    transform: 3s
}

.project-pic:hover {
    transform: scale(1.05)
}

