@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
body {
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .jumbotron img {
      width: 100%;
      min-height: 50vh;
      object-fit: cover;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 60rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 767px) {
    .album .card h2 {
      font-size: 1.4rem;
    }
  }
  

  .card:hover  {
    transform: scale(1.05);
    transition: 0.5s

  }

  .half {
    float: left;
    width: 100%;
    margin: 10px;
    padding-left: 8rem;
    text-align: justify;
}

.three-quarters {
    float: left;
    width: 100%;
    margin: 10px;
    
}

.section-header {
    border: 1px solid black;
    outline: #CCCCCC solid 3px;
    text-align: justify;  
    padding: 10px;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    margin-right: 0
}

.project-pic {
    border: solid 2px rgb(49, 33, 105);
    padding: 5px;
    background-color: #fff;
    transform: 5s
}

.project-pic:hover {
    transform: scale(1.05)
}

.portfolio-section {
    border-collapse: separate;
    border-spacing: 15px 50px;
}
