@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
body {
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.bg-dark {
  background-color: #201547 !important;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #0e0824;;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .jumbotron img {
      width: 100%;
      min-height: 50vh;
      object-fit: cover;
      margin-bottom: 4rem;
      border-radius: 50%;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
    color: #fff;
  }
  .jumbotron h5 {
    
    color: #fff;
  }
  .jumbotron p {    
    color: #fff !important;
  }
  
  
  .jumbotron .container {
    max-width: 60rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #201547 !important;
      /*position: fixed;
      width: 100vw;
      bottom: 0; */
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 767px) {
    .album .card h2 {
      font-size: 1.4rem;
    }
  }

  .project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    transform: 5s;
    border: solid 2px rgb(49, 33, 105);
}

.project-card:hover  {
  transform: scale(1.05);
  transition: 0.5s

}
  

  .card:hover  {
    transform: scale(1.05);
    transition: 0.5s

  }

  .half {
    float: left;
    width: 100%;
    text-align: justify;
}

.three-quarters {
    float: left;
    width: 100%;
    margin: 10px;
    
}

.sign-in {
  border: none;
  background: rgb(213 9 137);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 0.5rem 2rem;
}

.sign-up {
  border: none;
  background: rgb(133 21 124);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 0.5rem 2rem;
}



.section-header {
  
  text-align: justify;
  padding: 10px;
  text-align: center;
  margin-top: 2rem;
  color: white;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 2rem;
  margin-right: 0;
  background: linear-gradient(45deg, #663c8b, #e3058c, #f77ec0);
}

.project-pic {
  width: 100%;
}





.portfolio-section {
    border-collapse: separate;
    border-spacing: 15px 50px;
}


.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.nav-image {
  height: 70px;
  border-radius: 50%;
}